body{
    background-color:lightslategray;}
    .gambar {
        text-align: center;
    }
    .pendidikan {
        background-color: floralwhite;
        border: gold;
        max-width: 400px;
        width: 300px;
        text-align: center;
    }
    table.tablependidikan {
        background-color: floralwhite;
        border: 10px solid gold;
        margin: 0 auto;
    }
    .ukuran-gambar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
    }
    
div .biodata{
    background-color:floralwhite;
    border: 10px solid gold ;
    text-align: center;
}

    div .perkenalan{
        font-size:medium;
        padding: 15px 20px;
        border: 10px solid gold;
        margin: 10px 50px 50px 50px;
        font-size: medium;
    }

.study{
    background-color: deeppink;
    font-style: oblique;
    font-size: medium;
    padding: 50px 100px 50px 150px;
    border: 5px solid black;
}

.pengalaman{
    background-color: floralwhite;
    font-style: oblique;
    font-size: medium;
    border: 10px solid gold;
    text-align: center;
    margin: 40px;
}
.INSPIRASI{
    background-color: floralwhite;
    font-style: oblique;
    font-size: medium;
    padding: 15px 20px;
    border: 10px solid gold;
    margin: 10px 50px 50px 50px;
}
